<div class="u-margin-left-large">
  <h1>PageTurner Users</h1>
</div>
  <div class="c-grid c-grid--tiny">
    <div class="c-grid__cell u-1/2--lap">
      <% @users.each do |user| %>
        <div class="c-input">
        <!--   <% if user.avatar.attached? %>
          <%= image_tag user.avatar.variant(resize: "100x100") %>
          <% end %>
          <h4><%= avatar.name %></h4> -->
        </div>
       <% end %>
  </div>
</div>
<!-- # <% user.authors.each do |author| %>
#            <%= link_to("Author(s): #{author.name}", author_path(author)) %><br />
#           <% end %> -->
